<div class="lista-plantillas">
  {{#each plantillas as |plantilla|}}
    <div class="plantilla {{if (eq plantilla seleccionada) "seleccionada"}}"
         {{action "seleccionar" plantilla}}>
      <h6>{{plantilla.nombre}}</h6>
      <img src="{{plantilla.imagen}}" alt="Imagen de ejemplo de {{plantilla.nombre}}"/>
    </div>
  {{/each}}
</div>