{{#if seleccionado}}
  <button type="button" class="btn btn-primary btn-circle">{{paso.numero}}</button>
{{else}}
  <button type="button" {{action sendAction 'cambiar-paso' paso}} class="btn btn-default btn-circle-small">{{paso.numero}}</button>
{{/if}}

<p>{{paso.nombre}}</p>
