<p>
  <button {{action "zoomOut"}} class="btn btn-success">{{fa-icon "minus"}}</button>
  <span {{action "zoomRestore"}} class="zoom-label">{{zoom}}%</span>
  <button {{action "zoomIn"}} class="btn btn-success">{{fa-icon "plus"}}</button>
</p>
