<div class="row">
  <h1 class="seccion"><img src="assets/imagenes/li.png"></h1>
  <div class="final">
    <div class="hero-unit">
      <p>Ya se generó tu currículum y está listo para guardar,
         imprimir o modificar desde LibreOffice Writer.</p>

      <p>Ponele un nombre a tu archivo que facilite
         identificarlo.</p>

      {{#if guardando}}
        <button disabled class="btn btn-success">{{fa-icon "refresh" rotate=true}} Guardando...</button>
      {{else}}
        <button {{action "guardarODT"}} class="btn btn-success">{{fa-icon "download"}} Guardar el archivo generado</button>
      {{/if}}

      <br/>
      <br/>

      {{#if mensaje}}
        <div class="alert alert-warning">
          {{mensaje}}
        </div>
      {{/if}}

      <p class="tip-vaca"><div class="tip-vaca image" ></div>
         Te recomendamos nombrarlo como <em>CV_NombreyApellido.docx</em>
         para facilitar su identificación</p>
    </div>
  </div>
</div>