<div class="row">

  <div class="tutorial col-md-6 col-xs-6">
    <h4>Paso 4</h4>

    <p>...</p>

  </div>

  <div class="col-md-6 col-xs-6">
     <div>

      <div class='form-group'>
        <label class="ember-view control-label">Experiencias</label>

        {{#each experiencia in model.experiencias}}
          <p>{{experiencia.descripcion}} en {{experiencia.empleador}} ({{experiencia.ingreso}} - {{experiencia.egreso}}) <button {{action "eliminar" experiencia}} class='btn btn-xs btn-danger'>borrar</button></p>
        {{else}}
          <p>No hay experiencias cargadas</p>
        {{/each}}

      </div>

      {{#modal-trigger class='btn btn-sm btn-success' controls="modalNuevoEstudio"}}
        + Agregar
      {{/modal-trigger}}
    </div>

    <div>


    {{#modal-form
      id="modalNuevoEstudio"
      on-submit="submitForm"
      on-cancel="restoreModel"
    }}

    {{#modal-title}}<h4>Registrar una experiencia</h4>{{/modal-title}}

      <div class='form-group'>
        <label class="ember-view control-label">Desde</label>
        {{#input class='ember-text-field form-control' value=mingreso placeholder="Fecha de inicio"}}{{/input}}
      </div>

      <div class='form-group'>
        <label class="ember-view control-label">Hasta</label>
        {{#input class='ember-text-field form-control' value=megreso placeholder="Fecha de egreso"}}{{/input}}
      </div>

      <div class='form-group'>
        <label class="ember-view control-label">Empleador</label>
        {{#input class='ember-text-field form-control' value=mempleador placeholder="Nombre del establecimiento"}}{{/input}}
      </div>

      <div class='form-group'>
        <label class="ember-view control-label">Descripción</label>
        {{#input class='ember-text-field form-control' value=mdescripcion placeholder="Descripción"}}{{/input}}
      </div>

      <hr/>

      <fieldset>
          {{#modal-trigger class='btn btn-warning'}}Cancelar{{/modal-trigger}}
          <button class='btn btn-success' type="submit">Crear Registro</button>
      </fieldset>

    {{/modal-form}}



    <button {{action 'avanzar' 5 model}} class='btn btn-success siguiente'><a class='fs fa-right'></a> Siguiente</button>


  </div>
</div>

{{outlet}}
