<div class="row">

  <div class="tutorial col-md-6 col-xs-6">
    <h4>Paso 4</h4>

    <p>Contá acerca de tus trabajos anteriores u otras
       experiencias, incluso si no han sido remuneradas, dado
       que de ellas también se aprende. Si  realizaste trabajos
       temporarios que no suman valor al CV, no es necesario
       especificarlos, porque pueden generar una imagen de
       inestabilidad laboral y desorientación. Si es posible,
       incluí nombres y teléfonos de personas que puedan dar
       buenas referencias. Si ésto no fuera posible, incluí
       personas con las que haya desarrollado alguna tarea
       comunitaria, social, voluntaria, etc.</p>

    <p class="tip-vaca">¡Si incluis referencias de trabajos
       anteriores, informá a las personas que pueden ser
       contactadas!</p>

  </div>

  <div class="col-md-6 col-xs-6">
     <div>

      <div class="form-group">
        <label class="ember-view control-label">Experiencias laborales</label>

        {{#each model.experiencias as |experiencia|}}
          <p>{{experiencia.descripcion}} en {{experiencia.empleador}} ({{experiencia.ingreso}} - {{experiencia.egreso}}) <button {{action "eliminar" experiencia}} class="btn btn-xs btn-danger">borrar</button></p>
        {{else}}
          <p>No hay experiencias cargadas</p>
        {{/each}}

      </div>


      {{#ember-remodal
        openButton="+ Agregar"
        buttonClasses="btn btn-sm btn-success"
        forService=true
      }}

        <div class="form-group">
          <label class="ember-view control-label">Desde</label>
          {{input class="ember-text-field form-control" value=mingreso placeholder="mm/aaaa"}}
        </div>

        <div class="form-group">
          <label class="ember-view control-label">Hasta</label>
          {{input class="ember-text-field form-control" value=megreso placeholder="mm/aaaa"}}
        </div>

        <div class="form-group">
          <label class="ember-view control-label">Empleador</label>
          {{input class="ember-text-field form-control" value=mempleador placeholder="organización, institución o particular"}}
        </div>

        <div class="form-group">
          <label class="ember-view control-label">Descripción del Puesto o Función</label>
          {{input class="ember-text-field form-control" value=mdescripcion placeholder=""}}
        </div>

        <div class="form-group">
          <label class="ember-view control-label">Tareas a cargo</label>
          {{textarea class="ember-text-field form-control" value=mdetalle placeholder=""}}
        </div>

        <div class="form-group">
          <label class="ember-view control-label">Referencias</label>
          {{textarea class="ember-text-field form-control" value=mreferencia placeholder="Marca/nombre del empleador - contacto"}}
        </div>

        <hr/>

        <fieldset>
            <button class="btn btn-success" {{action "submitForm"}}>Crear Registro</button>
        </fieldset>


      {{/ember-remodal}}
    </div>
  </div>
</div>
{{outlet}}
