<div class="row">

  <div class="tutorial col-md-6 col-xs-6">
    <h4>Paso 3</h4>

    <p>...</p>

  </div>

  <div class="col-md-6 col-xs-6">


    <div>
      {{#each estudio in model.estudios}}

        <div class='bloque'>
          <button {{action "remove" estudio}}>X</button>
          {{#em-form model=estudio submit_button=false}}
            {{em-input property="ingreso" label="Ingreso" placeholder="¿Cuando comenzó tu estudio?"}}

            {{em-input property="egreso" label="Egreso" placeholder="¿Cuando concluyó?, ¿o está en curso?"}}
            {{em-input property="descripcion" label="Descripción" placeholder="¿Cuando comenzó tu estudio?"}}
          {{/em-form}}
        </div>

      {{else}}
        <p>No hay estudios cargados</p>
      {{/each}}

      <hr/>
      <button {{action "CrearEstudio"}} class='btn btn-sm btn-success'>+ Agregar</button>

    </div>



    <button {{action 'avanzar' 4 model}} class='btn btn-success'><a class='fs fa-right'></a> Siguiente</button>
  </div>
</div>




{{outlet}}
