<div class="row">

  <div class="tutorial col-md-6 col-xs-6">
    <h4>Paso 4</h4>

    <p>Esta sección es importante que la completes si tenés experiencia en algún trabajo, si no pasá a la siguiente sección.</p>
    <p>Al igual que en la parte de los Estudios, aquí deberás completar cuándo comenzaste y hasta cuándo realizaste ese trabajo, dónde trabajaste -en este caso iría el nombre de la empresa, institución o proyecto en el que trabajaste- y la descripción -aquí aconsejamos poner la tarea que realizaste-.</p>

  </div>

  <div class="col-md-6 col-xs-6">
     <div>

      <div class='form-group'>
        <label class="ember-view control-label">Experiencias</label>

        {{#each model.experiencias as |experiencia|}}
          <p>{{experiencia.descripcion}} en {{experiencia.empleador}} ({{experiencia.ingreso}} - {{experiencia.egreso}}) <button {{action "eliminar" experiencia}} class='btn btn-xs btn-danger'>borrar</button></p>
        {{else}}
          <p>No hay experiencias cargadas</p>
        {{/each}}

      </div>


      {{#ember-remodal
        openButton='+ Agregar'
        buttonClasses="btn btn-sm btn-success"
        forService=true
      }}

        <div class='form-group'>
          <label class="ember-view control-label">Desde</label>
          {{#input class='ember-text-field form-control' value=mingreso placeholder="Fecha de inicio"}}{{/input}}
        </div>

        <div class='form-group'>
          <label class="ember-view control-label">Hasta</label>
          {{#input class='ember-text-field form-control' value=megreso placeholder="Fecha de egreso"}}{{/input}}
        </div>

        <div class='form-group'>
          <label class="ember-view control-label">Lugar de trabajo</label>
          {{#input class='ember-text-field form-control' value=mempleador placeholder="Nombre de la organización dónde te desempeñaste"}}{{/input}}
        </div>

        <div class='form-group'>
          <label class="ember-view control-label">Puesto/función</label>
          {{#input class='ember-text-field form-control' value=mdescripcion placeholder="Nombre del puesto"}}{{/input}}
        </div>

        <div class='form-group'>
          <label class="ember-view control-label">Tareas realizadas</label>
          {{textarea class='ember-text-field form-control' value=mdetalle placeholder="**BUSCAR EJEMPLOS**"}}
        </div>

        <hr/>

        <fieldset>
            <button class='btn btn-success' {{action "submitForm"}}>Crear Registro</button>
        </fieldset>


      {{/ember-remodal}}

    </div>

    <div>




    <button {{action 'avanzar' 5 model}} class='btn btn-success siguiente' id="siguiente"><a class='fs fa-right'></a> Siguiente</button>


  </div>
</div>
</div>
{{outlet}}
