<div class="row">

  <div class="tutorial col-md-6 col-xs-6">
    <h4>Paso 3</h4>

    <p>...</p>

  </div>

  <div class="col-md-6 col-xs-6">


    <div>

      {{#each estudio in model.estudios}}
        <p>Escuela asd (2014 - 2015) {{estudio.id}} <button {{action "eliminar" estudio}} class='btn btn-xs btn-danger'>borrar</button></p>
      {{else}}
        <p>No hay estudios cargados</p>
      {{/each}}

      <button {{action "CrearEstudio"}} class='btn btn-sm btn-sm btn-success'>+ Agregar</button>





    </div>

    <div>


      {{#ic-modal-trigger controls="new-user-form"}}
        open
      {{/ic-modal-trigger}}

      {{#ic-modal-form
        id="new-user-form"
      }}
        Hola?

      {{/ic-modal-form}}


    </div>



    <button {{action 'avanzar' 4 model}} class='btn btn-success'><a class='fs fa-right'></a> Siguiente</button>

  </div>
</div>



{{outlet}}
