<div class="row">
  <h1 class="seccion"><img src="assets/imagenes/dc.png"></h1>
  <div class="datos">
    {{#validated-form model=model as |f|}}
      {{f.input type="textarea" name="idiomas"     label="Idiomas"     placeholder=""}}
      {{f.input type="textarea" name="habilidades" label="Habilidades" placeholder="¿Utilizás maquinarias o herramientas específicas de algún oficio, especialidad profesional o rama de actividad?"}}
      {{f.input type="textarea" name="informatica" label="Informática" placeholder="Detallá los sistemas, herramientas y utilitarios que manejás"}}
      {{f.input type="textarea" name="otros"       label="Otros"       placeholder="Indica si tenés licencias especiales (autos, libreta sanitaria, etc.), publicaciones,  vehiculo propio/disponibilidad para viajar o cualquier otro dato relevante."}}
    {{/validated-form}}
  </div>

  <div class="tutorial">
    <p>Esta sección es fundamental, especialmente cuando no se
      tiene mucha experiencia laboral. Se trata de agregar
      cuestiones como el dominio de idiomas, el manejo de
      algunos programas de la PC y otras habilidades, tanto
      manuales como físicas. Conviene incluir datos que sean
      acordes con el puesto o con la institución en la que
      presentes el CV.</p>
  </div>
</div>

{{outlet}}