<div class="row">

  <div class="tutorial col-md-6 col-xs-6">
    <h4>Paso 3</h4>

    <p>...</p>

  </div>

  <div class="col-md-6 col-xs-6">


    <div>

      {{#each estudio in model.estudios}}
        <p>{{estudio.descripcion}} ({{estudio.ingreso}} - {{estudio.egreso}}) <button {{action "eliminar" estudio}} class='btn btn-xs btn-danger'>borrar</button></p>
      {{else}}
        <p>No hay estudios cargados</p>
      {{/each}}

      {{#modal-trigger class='btn btn-sm btn-success' controls="modalNuevoEstudio"}}
        + Agregar
      {{/modal-trigger}}
    </div>



    {{#modal-form
      id="modalNuevoEstudio"
      on-submit="submitForm"
      on-cancel="restoreModel"
    }}

    {{#modal-title}}<h4>Registrar un estudio</h4>{{/modal-title}}

      <div>
        <label class="ember-view control-label">Desde</label>
        {{#input class='ember-text-field form-control' value=mingreso placeholder="Fecha de inicio"}}{{/input}}
      </div>

      <div>
        <label class="ember-view control-label">Hasta</label>
        {{#input class='ember-text-field form-control' value=megreso placeholder="Fecha de egreso"}}{{/input}}
      </div>

      <div>
        <label class="ember-view control-label">Descripción</label>
        {{#input class='ember-text-field form-control' value=mdescripcion placeholder="Descripción o nombre del establecimiento"}}{{/input}}
      </div>

      <hr/>

      <fieldset>
          {{#modal-trigger class='btn btn-warning'}}Cancelar{{/modal-trigger}}
          <button class='btn btn-success' type="submit">Crear Registro</button>
      </fieldset>

    {{/modal-form}}


    <button {{action 'avanzar' 4 model}} class='btn btn-success'><a class='fs fa-right'></a> Siguiente</button>

  </div>
</div>



{{outlet}}
