<div class="row">
  <h1 class="seccion"><img src="assets/imagenes/ed.png"></h1>
  <div class="datos">
    <div class="form-group">
      <label class="ember-view control-label">Estudios cursados</label>

      {{#each model.estudios as |estudio|}}
        <p>{{estudio.descripcion}} - {{estudio.institucion}} ({{estudio.ingreso}} - {{estudio.egreso}})</p>
	<div class="botonera">
           <button {{action "eliminar" estudio}} title="Borrar Curriculum" class="btn-borrar"></button>
           <button {{action "abrir" estudio}} title="Modificar Curriculum" class="btn-editar"></button></div>
      {{else}}
        <p>No hay estudios cargados</p>
      {{/each}}
    </div>
    <button {{action "abrir"}} class="btn btn-sm btn-success">+Agregar</button>
  </div>

  <div class="tutorial">
    <p>En esta sección enumerá los estudios cursados:
       primarios, secundarios, terciarios, universitarios.
       Aclará año de egreso, título obtenido y establecimiento
       donde los realizaste. Los menos relevantes pueden
       omitirse, por ejemplo, si estás cursando en la facultad
       no es indispensable que menciones los estudios
       primarios. Si sos graduado reciente o estudiante
       avanzado y/o tenés un buen promedio, agregálo en la
       sección de notas.</p>

    <p class="tip-vaca"><div class="tip-vaca image" ></div>
       ¡Detallá también todos los cursos, talleres, pasantías o
       seminarios relacionados con el puesto de trabajo!</p>
  </div>
</div>

{{outlet}}
