<div class="row">

  <div class="tutorial col-md-6 col-xs-6">

    <h4>Paso 3</h4>

    <p>En esta sección es importante poner los detalles referidos a los estudios que realizaste. Cuándo comenzaste, cuándo finalizaste, el nombre del colegio.</p>
    <p>En la descripción te sugerimos que pongas el nivel educativo y la orientación.</p>
    <p>Por ejemplo: Bachillerato con orientación en Ciencias Sociales y Humanidades.</p>

  </div>

  <div class="col-md-6 col-xs-6">


    <div>

      <div class="form-group">
        <label class="ember-view control-label">Estudios cursados</label>

        {{#each model.estudios as |estudio|}}
          <p>{{estudio.descripcion}} en {{estudio.institucion}} ({{estudio.ingreso}} - {{estudio.egreso}}) <button {{action "eliminar" estudio}} class="btn btn-xs btn-danger">borrar</button></p>
        {{else}}
          <p>No hay estudios cargados</p>
        {{/each}}

      </div>

      {{#ember-remodal
        openButton="+ Agregar"
        buttonClasses="btn btn-sm btn-success"
        forService=true
      }}

        <div class="form-group">
          <label class="ember-view control-label">Desde</label>
          {{input class="ember-text-field form-control" value=mingreso placeholder="Fecha de inicio"}}
        </div>

        <div class="form-group">
          <label class="ember-view control-label">Hasta</label>
          {{input class="ember-text-field form-control" value=megreso placeholder="Fecha de finalización"}}
        </div>

        <div class="form-group">
          <label class="ember-view control-label">Institución</label>
          {{input class="ember-text-field form-control" value=minstitucion placeholder="Nombre del establecimiento"}}
        </div>

        <div class="form-group">
          <label class="ember-view control-label">Título</label>
          {{input class="ember-text-field form-control" value=mdescripcion placeholder="Título o certificación obtenida"}}
        </div>

        <div class="form-group">
          <label class="ember-view control-label">Notas</label>
          {{textarea class="ember-text-field form-control" value=mdetalle placeholder="Promedio, especializaciones, diplomas obtenidos u otra información relevante"}}
        </div>

        <hr/>

        <fieldset>
            <button class="btn btn-success" {{action "submitForm"}}>Crear Registro</button>
        </fieldset>

        {{/ember-remodal}}
    </div>
  </div>
</div>

{{outlet}}
