<div class="row">

  <h1 class="seccion"><img src="assets/imagenes/el.png"></h1>

  <div class="datos">
    <div class="form-group">
      <label class="ember-view control-label">Experiencias laborales</label>

      {{#each model.experiencias as |experiencia|}}
        <p>{{experiencia.descripcion}} - {{experiencia.empleador}} ({{experiencia.ingreso}} - {{experiencia.egreso}})</p>
	<div class="botonera">
           <button {{action "eliminar" experiencia}} title="Borrar experiencia" class="btn-borrar"></button>
           <button {{action "abrir" experiencia}} title="Modificar experiencia" class="btn-editar"></button>
	</div>
      {{else}}
        <p>No hay experiencias cargadas</p>
      {{/each}}
    </div>

    <button {{action "abrir"}} class="btn btn-sm btn-success">+Agregar</button>
  </div>

  <div class="tutorial">
    <p>Contá acerca de tus trabajos anteriores u otras
       experiencias, incluso si no han sido remuneradas, dado
       que de ellas también se aprende. Si  realizaste trabajos
       temporarios que no suman valor al CV, no es necesario
       especificarlos, porque pueden generar una imagen de
       inestabilidad laboral y desorientación. Si es posible,
       incluí nombres y teléfonos de personas que puedan dar
       buenas referencias. Si ésto no fuera posible, incluí
       personas con las que haya desarrollado alguna tarea
       comunitaria, social, voluntaria, etc.</p>

    <p class="tip-vaca"><div class="tip-vaca image" ></div>
       ¡Si incluis referencias de trabajos anteriores, informá
       a las personas que pueden ser contactadas!</p>

  </div>
</div>

{{outlet}}
