<div class="botones">
  <button {{action "regresar"}} id="regresar" class="btn btn-warning">{{fa-icon "arrow-left"}} Regresar</button>
</div>

<div class="row">
  <div class="abrir">
	<p class="tutorial"> Curriculums disponibles: </p>


    {{#if model}}
    <table class="table lista-cvs">
      <thead>
        <th> Nombre </th>
        <th> Apellido </th>
        <th> Fecha </th>
        <th> Acciones </th>
      </thead>

      <tbody>
        {{#each model as |c|}}
          <tr>
            <td> {{c.nombre}} </td>
            <td> {{c.apellido}} </td>
            <td> {{moment-from-now date c.fecha}} </td>
            <td>
              <button {{action "abrir" c}} class="btn btn-success">Abrir</button>
              <button {{action "borrar" c.id}} class="btn btn-danger">Borrar</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
  </table>
    {{else}}
        <p class="abrir-mensaje">Uh, parece que no hay ningún curriculum creado aún.</p>
    {{/if}}

  </div>
</div>
