{{huayra-pasos pasos=pasos num-paso-actual=numPasoActual al-cambiar='cambiarPaso'}}

{{outlet}}

<div class='botones'>
  <button {{action 'guardar'}} class='btn btn-success'>Guardar y regresar</button>
    <button {{action "siguiente"}} class="btn btn-success siguiente" disabled={{noHaySiguiente}}>
      Siguiente {{fa-icon "arrow-right"}} 
    </button>
    <button {{action "anterior"}} class="btn btn-success anterior" disabled={{noHayAnterior}}>
      {{fa-icon "arrow-left"}} Anterior
    </button>
</div>

{{#ember-remodal forService=true name="antes-de-exportar"}}
  <div class="info">
    <h4>Antes de enviarlo</h4>
    <p>Es conveniente que te tomes unos minutos para revisarlo antes de
       entregarlo para evitar posibles errores</p>
    <ul class="recomendaciones-tips">
      <li>Chequeá que no haya repeticiones innecesarias, partes confusas,
          contradicciones o errores de ortografía y/o puntuación.</li>
      <li>Compartilo primero con alguna persona de tu confianza. Que otras
          personas lo lean antes de entregarlo te servirá para reconocer las
          impresiones que provoca y si resulta claro.</li>
    </ul>
    <div class="barra-botones">
      <button {{action "exportar"}} class="btn btn-success">¡Estoy listo!</button>
    </div>
  </div>
{{/ember-remodal}}