{{huayra-pasos pasos=pasos num-paso-actual=numPasoActual al-cambiar='cambiarPaso'}}

{{outlet}}

<div class='botones'>
  <button {{action 'guardar'}} class='btn btn-success'>Guardar y regresar</button>
    <button {{action "siguiente"}} class="btn btn-success siguiente" disabled={{noHaySiguiente}}>
      Siguiente {{fa-icon "arrow-right"}} 
    </button>
    <button {{action "anterior"}} class="btn btn-success anterior" disabled={{noHayAnterior}}>
      {{fa-icon "arrow-left"}} Anterior
    </button>
</div>
